!/log/.keep
!/tmp/.keep
*.bowerrc
*.bridgesupport
*.gem
*.orig
*.rbc
.byebug_history
.dat*
.env
.idea
.powenv
.repl_history
.rspec
.rvmrc
/.bundle
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/config/master.key
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/
/lib/bundler/man/
/log
/log/*
/node_modules
/pkg/
/public/assets
/public/system
/rdoc/
/spec/examples.txt
/spec/reports/
/spec/tmp
/storage/*
/test/tmp/
/test/version_tmp/
/tmp
/tmp/
/tmp/*
/vendor/assets/bower_components
/vendor/bundle
/yarn-error.log
bower.json
build-iPhoneOS/
build-iPhoneSimulator/
build/
capybara-*.html
config/initializers/secret_token.rb
config/master.key
node_modules/
pickle-email-*.html
rerun.txt
